

 .data4{
    text-align: center;
    margin-top: 20px;
}

h2{
    font-size: 36px;
    color:#203142;
 
    margin-bottom: 20px;
}


#productForm {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}


.modal-header {
  background-color: #34495e; 
  color: #333; 
  border-bottom: 2px solid #ccc; 
}


.modal-body {
  background-color: #ffffff; 
  color: #333; 
  font-size: 1.1em;
  padding: 20px; 
}


.modal-footer {
  background-color: #f8f9fa; 
  border-top: 2px solid #ccc; 
}



.modal-footer .btn-secondary {
  background-color: #007bff; 
  color: rgb(9, 9, 9);
  border: none; 
  padding: 10px 20px; 
  font-size: 1.1em; 
}

.modal-footer .btn-secondary:hover {
  background-color: #0056b3; 
  cursor: pointer; 
}


.modal-dialog {
  max-width: 700px; 
  margin: 1.75rem auto; 
}


@media (max-width: 576px) {
  .modal-dialog {
      margin-top: 10px; 
      margin-bottom: 10px;
  }

  .modal-body {
      font-size: 1em; 
  }
}

button {
  background-color: #34495e;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #f39c12;
}


form label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #333;
}


form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


form input[type="button"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color:#34495e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


form input[type="button"]:hover {
    background-color: #f39c12;
}


@media (max-width: 600px) {
    #productForm {
        width: 90%;
    }

    h1 {
        font-size: 20px;
    }
} 